/* ===== RESET DAN DASAR ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #f5f5f5;
  overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background: rgba(0, 0, 0, 0.992);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 45px;
}

nav ul li a {
  color: #d4af37;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #fff;
}

/*FOTO*/
.hero {
  position: relative;
  height: 110svh;
  background: url('https://i.pinimg.com/1200x/7f/5a/ab/7f5aabb22215e472902269f157a2f4a4.jpg') center/100% auto no-repeat;
  background-color: #000;
}




.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.179);
}


/* ===== ROOM SECTION ===== */
.room-section {
  background-color: #121212;
  padding: 120px 5%;
  text-align: center;
  color: #d4af37;
}

.room-section h3 {
  font-size: 3em;
  letter-spacing: 2px;
  color: #b9972f;
  margin-bottom: 10px;
}

.room-section h1 {
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 15px;
}

.room-section p {
  font-size: 1.2em;
  color: #ddd;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}