/* ===== RESET DAN DASAR ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #f5f5f5;
  overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d4af37;
}

.logo span {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #d4af37;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar a:hover {
    color: white;
}

.book-btn {
    background-color: #d4af37;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.book-btn:hover {
    background-color: white;
    color: #111;
}

/*FOTO*/
.hero {
  position: relative;
  height: 110svh;
  background: url('https://i.pinimg.com/1200x/7f/5a/ab/7f5aabb22215e472902269f157a2f4a4.jpg') center/100% auto no-repeat;
  background-color: #000;
}




.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.179);
}


/* ===== ROOM SECTION ===== */
.room-section {
  background-color: #121212;
  padding: 120px 5%;
  text-align: center;
  color: #d4af37;
}

.room-section h3 {
  font-size: 3em;
  letter-spacing: 2px;
  color: #b9972f;
  margin-bottom: 10px;
}

.room-section h1 {
  font-size: 4em;
  font-weight: 600;
  margin-bottom: 15px;
}

.room-section p {
  font-size: 1.2em;
  color: #ddd;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}

.footer {
    background-color: #111;
    padding: 50px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    color: #d4af37;
}

.footer-logo h3 {
    color: #d4af37;
    font-size: 1.5rem;
}

.footer-logo span {
    color: white;
}

.footer p, .footer h4 {
    color: #ccc;
}

.footer h4 {
    color: #d4af37;
    margin-bottom: 10px;
}