        html,body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: "Poppins", sans-serif;
            color: whitesmoke;
        }

        .photo-bg {
            position: relative;
            background-image: url(https://i.pinimg.com/1200x/4c/f9/2d/4cf92d4b12c5703d3d31d8825c223019.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-align: center;
        }

        .photo-bg::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }

        .overlay-text {
            position: relative;
            z-index: 1;
        }

        .photo-bg h1 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
            color: whitesmoke;
        }

        .photo-bg p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .overlay-text a {
            color: whitesmoke;
            text-decoration: none;
            transition: color 0.3s;
            font-weight: 500;
        }

        .overlay-text a:hover {
            color: orangered;
        }