        html,body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: "Poppins", sans-serif;
            color: rgb(0, 0, 0);
        }

        .photo-bg {
            position: relative;
            background-image: url(https://i.pinimg.com/1200x/a1/c6/2b/a1c62b0cd380259c76620237723530b9.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-align: center;
        }

        .photo-bg::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }

        .overlay-text {
            position: relative;
            z-index: 1;
        }

        .photo-bg h1 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
            color: whitesmoke;
        }

        .photo-bg p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        .overlay-text a {
            color: whitesmoke;
            text-decoration: none;
            transition: color 0.3s;
            font-weight: 500;
        }

        .overlay-text a:hover {
            color: orangered;
        }

.gallery-section {
    padding: 60px 40px;
    background: #f8f8f8;
    text-align: center;
}

/* Header Text */
.gallery-header h4 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #333;
    margin-bottom: 10px;
}

.gallery-header h2 {
    font-size: 42px;
    font-weight: 600;
    color: #222;
    margin: 0;
}

.gallery-header p {
    margin-top: 15px;
    font-size: 18px;
    color: #666;
}

/* Photo Grid */
.gallery-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0 20px;
}

.gallery-grid img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    transition: .3s;
}

.gallery-grid img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Mobile Friendly */
@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-header h2 {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}


/* FOOTER */
.footer {
    background: #111;
    color: white;
    padding: 40px 0;
    margin-top: 50px;
}

.footer-content {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo h3 {
    font-size: 1.8rem;
}

.footer-logo span {
    color: orange;
}

.footer-social h4 {
    margin-bottom: 10px;
}
